/* The main container */

.container {
  /* customizable */
  --device-width: 430;

  --forbidden-width: 137;
  --forbidden-height: 40;

  --compat-height: var(--forbidden-height);
  --compat-radius: 20;
  --compat-size: 40;
  --compat-max-width: 348;

  --expanded-margin: 22;
  --expanded-padding: 10;
  --expanded-radius: 46;
  --expanded-width: calc(
    var(--device-width) -
    var(--expanded-margin) * 2
  );

  /* customizable */
  --expanded-leading-size: 80;
  --expanded-leading-top: 6;
  --expanded-leading-left: 6;
  --expanded-trailing-size: 80;
  --expanded-trailing-top: 6;
  --expanded-trailing-right: 6;
}
.container.device-promax {
  --device-width: 430;
}
.container.device-pro {
  --device-width: 393;
}

.container {
  /* get from DOM */
  --leading-width: 0;
  --trailing-width: 0;
  --expanded-height: 92;

  --leading-offset: var(--leading-width);
  --trailing-offset: var(--trailing-width);

  --compat-width: calc(
    var(--leading-offset) +
    var(--trailing-offset) +
    var(--forbidden-width)
  );

  --duration: .2s;
  --func-resize: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.debugger .container {
  --duration: 1s;
  /* --duration: 5s; */
  /* --duration: 50s; */
}

.container,
.transition {
  --transition-blur:
    opacity var(--duration) ease-out,
    filter var(--duration) ease-out;
  --transition-pos:
    top var(--duration) var(--func-resize),
    left var(--duration) var(--func-resize),
    right var(--duration) var(--func-resize);
  --transition-shape:
    width var(--duration) var(--func-resize),
    height var(--duration) var(--func-resize),
    border-radius var(--duration) var(--func-resize),
    box-shadow var(--duration) ease-out;
  --transition-transform:
    transform var(--duration) var(--func-resize);
}

.container {
  min-width: calc(var(--forbidden-width) * 1px);
  height: calc(var(--compat-height) * 1px);
  position: relative;
}

.forbidden {
  position: relative;
  width: calc(var(--forbidden-width) * 1px);
  height: calc(var(--compat-height) * 1px);
  background-color: black;
  border-radius: calc(var(--compat-radius) * 1px);
  z-index: 2;
}
.debugger .forbidden {
  opacity: 0.5;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 16px;
  z-index: 1;
}

/* Content */

/* leading & trailing */

.slot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leading,
.trailing {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  height: calc(var(--compat-height) * 1px);
  border-radius: calc(var(--compat-radius) * 1px);
  white-space: nowrap;
  overflow: hidden;
  transform-origin: top center;
}
.leading {
  left: calc(var(--leading-offset, 0) * -1px);
}
.trailing {
  right: calc(var(--trailing-offset, 0) * -1px);
}
.debugger .leading,
.debugger .trailing {
  outline: red solid 1px;
}

/* leading & trailing: background */

.leading-bg,
.trailing-bg {
  position: absolute;
  top: 0;
  height: calc(var(--compat-height) * 1px);
  background-color: black;
  z-index: -1;
}
.leading-bg {
  width: calc(var(--leading-offset) * 1px);
  height: calc(var(--compat-height) * 1px);
  left: calc(var(--leading-offset, 0) * -1px);
  border-top-left-radius: calc(var(--compat-radius) * 1px);
  border-bottom-left-radius: calc(var(--compat-radius) * 1px);
}
.trailing-bg {
  width: calc(var(--trailing-offset) * 1px);
  height: calc(var(--compat-height) * 1px);
  right: calc(var(--trailing-offset, 0) * -1px);
  border-top-right-radius: calc(var(--compat-radius) * 1px);
  border-bottom-right-radius: calc(var(--compat-radius) * 1px);
}

.leading-bg::after,
.trailing-bg::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: black;
  transition: width var(--duration) ease-out;
}
.leading-bg::after {
  width: calc(
    var(--leading-offset) * 1px +
    var(--forbidden-width) / 2 * 1px
  );
  left: calc(var(--compat-radius) * 1px);
}
.trailing-bg::after {
  width: calc(
    var(--trailing-offset) * 1px +
    var(--forbidden-width) / 2 * 1px
  );
  right: calc(var(--compat-radius) * 1px);
}

.debugger .leading-bg,
.debugger .trailing-bg,
.debugger .leading-bg::after,
.debugger .trailing-bg::after {
  background-color: rgba(0, 255, 255, .5);
}

/* leading & trailing: animation */

.leading,
.trailing {
  transition:
    var(--transition-blur),
    var(--transition-pos),
    transform var(--duration) var(--func-resize);
}
.leading-leave-active,
.trailing-leave-active {
  --func-resize: ease-out;
}

.leading-enter-from,
.leading-leave-to {
  left: 0;
  opacity: 0;
  filter: blur(4px);
}
.trailing-enter-from,
.trailing-leave-to {
  right: 0;
  opacity: 0;
  filter: blur(4px);
}

.leading-bg,
.trailing-bg {
  transition: var(--transition-pos);
}
.leading-bg-leave-active,
.trailing-bg-leave-active {
  --func-resize: ease-out;
}

.content .leading-bg-enter-from::after,
.content .leading-bg-leave-to::after,
.content .trailing-bg-enter-from::after,
.content .trailing-bg-leave-to::after {
  width: calc(var(--forbidden-width) / 2 * 1px);
}
.leading-bg-enter-from,
.leading-bg-leave-to {
  left: 0;
}
.trailing-bg-enter-from,
.trailing-bg-leave-to {
  right: 0;
}

/* leading & trailing: expanded */

.expanded .leading {
  top: calc(var(--expanded-leading-top) * 1px);
  left: calc(
    (
      var(--forbidden-width) / 2 +
      var(--expanded-leading-left) -
      var(--expanded-width) / 2 +
      var(--expanded-leading-size) / 2 -
      var(--leading-width) / 2
    ) * 1px
  );
  transform: scale(calc(
    var(--expanded-leading-size) / var(--compat-size)
  ));
}
.expanded .trailing {
  top: calc(var(--expanded-trailing-top) * 1px);
  right: calc(
    (
      var(--forbidden-width) / 2 +
      var(--expanded-trailing-right) -
      var(--expanded-width) / 2 +
      var(--expanded-trailing-size) / 2 -
      var(--trailing-width) / 2
    ) * 1px
  );
  transform: scale(calc(
    var(--expanded-trailing-size) / var(--compat-size)
  ));
}

/* leading & trailing: expanded: animation */

.expanded .leading,
.expanded .trailing {
  opacity: 0;
  filter: blur(4px);
}

.expanded.super-leading .leading,
.expanded.super-trailing .trailing {
  opacity: 1;
  filter: none;
}

.expanded .leading,
.expanded .trailing {
  transition:
    var(--transition-blur),
    var(--transition-pos),
    transform var(--duration) var(--func-resize);
}
.expanded .leading-leave-active,
.expanded .trailing-leave-active {
  --func-resize: ease-out;
}

/* main */

.main,
.main-bg {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  left: calc(var(--forbidden-width) / 2 * 1px);
  width: calc(var(--expanded-width) * 1px);
  transform: translateX(-50%);
  transform-origin: top center;
  border-radius: calc(var(--expanded-radius) * 1px);
  overflow: hidden;
}
.main {
  flex-direction: column;
  padding: calc(var(--expanded-padding) * 1px);
  padding-top: calc(var(--compat-height) * 1px);
}
.main.active-transition {
  height: calc(var(--expanded-height) * 1px);
}
.main-bg {
  z-index: -1;
  height: calc(var(--expanded-height) * 1px);
  background-color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}
.debugger .main {
  outline: red solid 1px;
}
.debugger .main-bg {
  background-color: rgba(0, 255, 255, .5);
}

/* main: animation */

.main {
  transition:
    var(--transition-blur);
}
.main.active-transition,
.main.main-enter-to {
  transition:
    var(--transition-blur),
    var(--transition-transform);
}
.main-bg {
  transition: var(--transition-shape);
}
.main-leave-active,
.main-bg-leave-active {
  --func-resize: ease-out;
}

.main-enter-from,
.main-leave-to {
  opacity: 0;
  filter: blur(4px);
}
.main-enter-from.active-transition,
.main-leave-to {
  transform:
    translateX(-50%)
    scale(
      calc(var(--compat-width) / var(--expanded-width)),
      calc(var(--compat-height) / var(--expanded-height))
    );
}

.main-bg-enter-from,
.main-bg-leave-to {
  height: calc(var(--compat-height) * 1px);
  border-radius: calc(var(--compat-radius) * 1px);
}
.main-bg-enter-from {
  width: calc(var(--compat-width) * 1px);
}
.main-bg-leave-to {
  width: calc(var(--forbidden-width) * 1px);
}

/* main: left/right elements */

.main-leading,
.main-trailing {
  position: absolute;
  box-sizing: border-box;
  white-space: nowrap;
}
.main-leading {
  top: calc(var(--expanded-leading-top) * 1px);
  left: calc(var(--expanded-leading-left) * 1px);
  height: calc(var(--expanded-leading-size) * 1px);
}
.main-trailing {
  top: calc(var(--expanded-trailing-top) * 1px);
  right: calc(var(--expanded-trailing-right) * 1px);
  height: calc(var(--expanded-trailing-size) * 1px);
}
.main-leading:empty,
.main-trailing:empty {
  display: none;
}
.debugger .main-leading,
.debugger .main-trailing {
  outline: red solid 1px;
}

/* Animations */

.warning > .content {
  animation: shake 0.1s 2;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
