/* The main container */

.container {
  --forbidden-width: 137;
  --small-height: 40;
  --small-radius: 20;
  --small-padding: 10;
  --normal-width: 406;
  --normal-height: 92;
  --normal-radius: 46;
  --normal-icon: 52;
  --normal-padding: 20;
  --large-width: 406;
  --large-height: 220;
  --large-radius: 46;
  --large-icon: 72;
  --large-padding: 25;
}
.container.layout-main-normal {
  --expanded-width: var(--normal-width);
  --expanded-height: var(--normal-height);
  --expanded-radius: var(--normal-radius);
  --expanded-icon: var(--normal-icon);
  --expanded-padding: var(--normal-padding);
}
.container.layout-main-large {
  --expanded-width: var(--large-width);
  --expanded-height: var(--large-height);
  --expanded-radius: var(--large-radius);
  --expanded-icon: var(--large-icon);
  --expanded-padding: var(--large-padding);
}

.container {
  /* get from DOM */
  --left-width: 0;
  --right-width: 0;

  --small-width: calc(
    var(--left-width) +
    var(--right-width) +
    var(--forbidden-width)
  );

  --func-resize: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --transition-blur:
    opacity .3s ease-out,
    filter .3s ease-out;
  --transition-pos:
    top .2s var(--func-resize),
    left .2s var(--func-resize),
    right .2s var(--func-resize);
  --transition-shape:
    width .2s var(--func-resize),
    height .2s var(--func-resize),
    border-radius .2s var(--func-resize);
  --transition-transform:
    transform .2s var(--func-resize);
}

.container {
  min-width: calc(var(--forbidden-width) * 1px);
  height: calc(var(--small-height) * 1px);
  position: relative;
}

.forbidden {
  position: relative;
  width: calc(var(--forbidden-width) * 1px);
  height: calc(var(--small-height) * 1px);
  background-color: black;
  border-radius: calc(var(--small-radius) * 1px);
  z-index: 2;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 16px;
  z-index: 1;
}

/* Content */

/* left and right */

.slot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left,
.right {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  height: calc(var(--small-height) * 1px);
  padding: 0 10px;
  white-space: nowrap;
}
.left {
  left: calc(var(--left-width, 0) * -1px);
}
.right {
  right: calc(var(--right-width, 0) * -1px);
}

/* left and right: background */

.bg-left,
.bg-right {
  position: absolute;
  top: 0;
  height: calc(var(--small-height) * 1px);
  background-color: black;
  z-index: -1;
}
.bg-left {
  width: calc(var(--left-width) * 1px);
  height: calc(var(--small-height) * 1px);
  left: calc(var(--left-width, 0) * -1px);
  border-top-left-radius: calc(var(--small-radius) * 1px);
  border-bottom-left-radius: calc(var(--small-radius) * 1px);
}
.bg-right {
  width: calc(var(--right-width) * 1px);
  height: calc(var(--small-height) * 1px);
  right: calc(var(--right-width, 0) * -1px);
  border-top-right-radius: calc(var(--small-radius) * 1px);
  border-bottom-right-radius: calc(var(--small-radius) * 1px);
}

.bg-left::after,
.bg-right::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 85px;
  background-color: black;
  transition: none;
}
.bg-left::after {
  left: calc(var(--small-radius) * 1px);
}
.bg-right::after {
  right: calc(var(--small-radius) * 1px);
}

/* left and right: animation */

.left,
.right {
  transition:
    var(--transition-blur),
    var(--transition-pos);
}
.left-leave-active,
.right-leave-active {
  --func-resize: ease-out;
}

.left-enter-from,
.left-leave-to {
  left: 0;
  opacity: 0;
  filter: blur(4px);
}

.right-enter-from,
.right-leave-to {
  right: 0;
  opacity: 0;
  filter: blur(4px);
}

.bg-left,
.bg-right {
  transition: var(--transition-pos);
}
.bg-left-leave-active,
.bg-right-leave-active {
  --func-resize: ease-out;
}

.bg-left-enter-from,
.bg-left-leave-to {
  left: 0;
}

.bg-right-enter-from,
.bg-right-leave-to {
  right: 0;
}

/* left and right: expanded */

.expanded .left,
.expanded .right {
  top: calc(
    (
      var(--expanded-height) / 2 -
      var(--small-height) / 2
    ) * 1px
  );
  transform: scale(calc(
    var(--expanded-icon) / var(--small-radius)
  ));
}
.expanded .left {
    left: calc(
    (
      var(--forbidden-width) / 2 +
      var(--expanded-padding) -
      var(--expanded-width) / 2
    ) * 1px
  );
}
.expanded .right {
  right: calc(
    (
      var(--forbidden-width) / 2 +
      var(--expanded-padding) -
      var(--expanded-width) / 2
    ) * 1px
  );
}

/* left and right: expanded: animation */

.expanded .left,
.expanded .right {
  opacity: 0;
  filter: blur(4px);
}

.expanded.layout-left-responsive .left,
.expanded.layout-right-responsive .right {
  opacity: 1;
  filter: none;
}

.expanded .left,
.expanded .right {
  transition:
    var(--transition-blur),
    var(--transition-pos),
    transform .2s var(--func-resize);
}
.expanded .left-leave-active,
.expanded .right-leave-active {
  --func-resize: ease-out;
}

/* main */

.main,
.bg-main {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  left: calc(var(--forbidden-width) / 2 * 1px);
  width: calc(var(--expanded-width) * 1px);
  height: calc(var(--expanded-height) * 1px);
  transform: translateX(-50%);
}
.bg-main {
  z-index: -1;
  background-color: black;
  border-radius: calc(var(--expanded-radius) * 1px);
}

.main {
  transition:
    var(--transition-blur),
    var(--transition-transform);
}
.bg-main {
  transition: var(--transition-shape);
}
.main-leave-active,
.bg-main-leave-active {
  --func-resize: ease-out;
}

.main-enter-from,
.main-leave-to {
  transform:
    translateX(-50%)
    scale(
      calc(var(--small-width) / var(--expanded-width)),
      calc(var(--small-height) / var(--expanded-height))
    );
  transform-origin: top center;
  opacity: 0;
  filter: blur(4px);
}

.bg-main-enter-from,
.bg-main-leave-to {
  width: calc(var(--small-width) * 1px);
  height: calc(var(--small-height) * 1px);
  border-radius: calc(var(--small-radius) * 1px);
}

/* main: left/right elements */

.main-left,
.main-right {
  position: absolute;
  top: calc(var(--expanded-padding) * 1px);
  box-sizing: border-box;
  width: calc(var(--expanded-icon) * 1px);
  height: calc(var(--expanded-icon) * 1px);
  white-space: nowrap;
}
.main-left {
  left: calc(var(--expanded-padding) * 1px);
}
.main-right {
  right: calc(var(--expanded-padding) * 1px);
}

/* Animations */

.warning > .content {
  animation: shake 0.1s 2;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
